<section class="bg-gradient-to-br from-cyan-400 to-purple-500 py-12 px-8">
  <div
    class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12"
  >
    <img src="/assets/hero-image.png" alt="" class="max-h-[32rem]" />
    <div>
      <h1 class="text-4xl font-bold leading-[1.1] text-white md:text-5xl">
        Stay connected from everywhere
      </h1>
      <p class="pt-4 text-lg leading-[1.5] text-white">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolorum
        quod ab ad unde. Magni labore, ad expedita illum quam ut est eos
        necessitatibus enim amet vitae, maiores corporis error!
      </p>
    </div>
  </div>
</section>
